{% extends 'core/base.html' %} {% load static %} {% block main %}

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="{% static 'core/img/BolsaEco.png' %}"
            alt="BolsaEco"
          />
          <div class="card-body p-4">
            <h5 class="fw-bolder">Bolsa de tela</h5>
            Bolsa de tela ecológica, hecha de algodón orgánico y reutilizable.
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent"></div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="{% static 'core/img/BotellasRecicladas.png' %}"
            alt="BotellasRecicladas"
          />
          <div class="card-body p-4">
            <h5 class="fw-bolder">Botellas recicladas</h5>
            Botellas recicladas y reutilizables para uso cotidiano.
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Popular
          </div>
          <img
            class="card-img-top"
            src="{% static 'core/img/KitEco.png' %}"
            alt="kitEcoJardin"
          />
          <div class="card-body p-4">
            <h5 class="fw-bolder">Kit de Semillas y Jardinería</h5>
            Kit de semillas ecológicas para cultivar tu propio jardín.
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="{% static 'core/img/KitMaquillaje.png' %}"
            alt="KitMaquillaje"
          />
          <div class="card-body p-4">
            <h5 class="fw-bolder">Maquillaje ecológico</h5>
            Maquillaje ecológico, ¡Realza tu belleza, libre de químicos!
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Popular
          </div>
          <img
            class="card-img-top"
            src="{% static 'core/img/Cremahidratante1.png' %}"
            alt="cremaHidratante1"
          />
          <div class="card-body p-4">
            <h5 class="fw-bolder">Crema Hidratante</h5>
            Cremas para la piel ecológicas, elaboradas con ingredientes
            naturales que nutren y protegen tu piel.
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="{% static 'core/img/PinturaEco.png' %}"
            alt="PinturaEco"
          />
          <div class="card-body p-4">
            <h5 class="fw-bolder">Pinturas ecológicas</h5>
            Pinturas a base de ingredientes naturales y no tóxicos.
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Popular
          </div>
          <img
            class="card-img-top"
            src="{% static 'core/img/LibroEco.png' %}"
            alt="LibroEco"
          />
          <div class="card-body p-4">
            <h5 class="fw-bolder">Libro de Ecología</h5>
            Libro lleno de consejos prácticos para vivir de manera sostenible y
            cuidar de tu bienestar.
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="{% static 'core/img/Pot.png' %}"
            alt="Pot"
          />
          <div class="card-body p-4">
            <h5 class="fw-bolder">Plantas Varias</h5>
            Plantas variadas, perfectas para decorar tu hogar y purificar el
            aire.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
